@import '_var.scss';

@mixin width_hard($min, $max) {
	@media (min-width: $min) and (max-width: $max) {
		@content;
	}
}

@mixin headingBig {
	font-style: normal;
	font-weight: 300;
	font-size: 64px;
	line-height: 64px;
}

@mixin headingMob {
	font-size: 42px;
	line-height: 30px;
}
@mixin dis_fsb {
	display: flex;
	justify-content: space-between;
}
@mixin btn($cb, $ct) {
	min-width: 222px;
	max-width: 222px;
	min-height: 71px;
	text-transform: uppercase;
	border: none;
	background-color: $cb;
	cursor: $cursor;
	color: $ct;
}
