@import './_var.scss';
@import './_mixins.scss';
@import './_header.scss';
@import './_project-home.scss';
@import './_company-text.scss';
@import './_tasks.scss';
@import './_projects.scss';
@import './_connection.scss';
@import './_footer.scss';
.body {
	overflow: hidden;
	min-height: 100vh;
}
